main_deck:
  - <<: *barrel
    signs:
      - A clubs
    image: 03_barile
  - name: BINOCULAR
    signs:
      - 10 diamonds
    image: 03_binocolo
    color: blue
    equip:
      - scope
  - <<: *dynamite
    signs:
      - 10 clubs
    image: 03_dinamite
  - <<: *mustang
    signs:
      - 5 hearts
    image: 03_mustang
  - <<: *remington
    signs:
      - 6 diamonds
    image: 03_remington
  - <<: *rev_carabine
    signs:
      - 5 spades
    image: 03_rev_carabine
  - name: HIDEOUT
    signs:
      - K diamonds
    image: 03_riparo
    color: blue
    equip:
      - mustang
  - <<: *bang
    signs:
      - 8 spades
      - 5 clubs
      - 6 clubs
      - K clubs
    image: 03_bang
  - <<: *beer
    signs:
      - 6 hearts
      - 6 spades
    image: 03_birra
  - <<: *cat_balou
    signs:
      - 8 clubs
    image: 03_cat_balou
  - <<: *general_store
    signs:
      - A spades
    image: 03_emporio
  - <<: *indians
    signs:
      - 5 diamonds
    image: 03_indiani
  - <<: *missed
    signs:
      - 8 diamonds
    image: 03_mancato
  - <<: *panic
    signs:
      - J hearts
    image: 03_panico
  - name: PUNCH
    signs:
      - 10 spades
    image: 03_pugno
    color: brown
    effects:
      - bang player notself range_1
    tags:
      - skip_logs
  - name: RAG_TIME
    signs:
      - 9 hearts
    image: 03_rag_time
    color: brown
    effects:
      - discard extra_card self | hand
      - discard
      - steal card
    tags:
      - skip_logs
      - no_auto_discard
  - name: BRAWL
    signs:
      - J spades
    image: 03_rissa
    color: brown
    effects:
      - discard extra_card self | hand
      - discard
      - destroy card_per_player notself
    tags:
      - skip_logs
      - no_auto_discard
      - multi_target
  - &dodge
    name: DODGE
    signs:
      - 7 diamonds
      - K hearts
    image: 03_schivata
    color: brown
    responses:
      - missed
      - draw
  - name: SPRINGFIELD
    signs:
      - K spades
    image: 03_springfield
    color: brown
    effects:
      - discard extra_card self | hand
      - discard
      - bang player notself
    tags:
      - skip_logs
      - no_auto_discard
  - name: TEQUILA
    signs:
      - 9 clubs
    image: 03_tequila
    color: brown
    effects:
      - discard extra_card self | hand
      - discard
      - heal player
    tags:
      - no_auto_discard
  - name: WHISKY
    signs:
      - Q hearts
    image: 03_whisky
    color: brown
    effects:
      - discard extra_card self | hand
      - discard
      - heal(2)
    tags:
      - no_auto_discard
  - name: BIBLE
    signs:
      - 10 hearts
    image: 03_bibbia
    color: green
    responses:
      - missed
      - draw
  - name: CANTEEN
    signs:
      - 7 hearts
    image: 03_borraccia
    color: green
    effects:
      - heal
  - name: CAN_CAN
    signs:
      - J clubs
    image: 03_can_can
    color: green
    effects:
      - destroy card
    tags:
      - skip_logs
  - name: TEN_GALLON_HAT
    signs:
      - J diamonds
    image: 03_cappello
    color: green
    responses:
      - missed
  - name: CONESTOGA
    signs:
      - 9 diamonds
    image: 03_conestoga
    color: green
    effects:
      - steal card
    tags:
      - skip_logs
  - name: DERRINGER
    signs:
      - 7 spades
    image: 03_derringer
    color: green
    effects:
      - draw
      - bang player notself range_1
    tags:
      - skip_logs
  - name: BUFFALO_RIFLE
    signs:
      - 9 clubs
    image: 03_fucile_da_caccia
    color: green
    effects:
      - bang player notself
    tags:
      - skip_logs
  - name: HOWITZER
    signs:
      - 9 spades
    image: 03_howitzer
    color: green
    effects:
      - bang players notself
  - name: PEPPERBOX
    signs:
      - A hearts
    image: 03_pepperbox
    color: green
    effects:
      - bang player reachable notself
    tags:
      - skip_logs
  - name: IRON_PLATE
    signs:
      - A diamonds
      - Q spades
    image: 03_placca_di_ferro
    color: green
    responses:
      - missed
  - name: PONY_EXPRESS
    signs:
      - Q diamonds
    image: 03_pony_express
    color: green
    effects:
      - draw(3)
      - changewws
  - name: KNIFE
    signs:
      - 8 hearts
    image: 03_pugnale
    color: green
    effects:
      - bang player notself range_1
    tags:
      - skip_logs
  - name: SOMBRERO
    signs:
      - 7 clubs
    image: 03_sombrero
    color: green
    responses:
      - missed

character:
  - name: APACHE_KID
    image: 03_apache_kid
    equip:
      - apache_kid
    tags:
      - max_hp(3)
  - name: BELLE_STAR
    image: 03_belle_star
    equip:
      - bellestar
  - name: BILL_NOFACE
    image: 03_bill_noface
    equip:
      - bill_noface
  - name: CHUCK_WENGAM
    image: 03_chuck_wengam
    effects:
      - damage
      - queue_draw(2)
  - name: DOC_HOLYDAY
    image: 03_doc_holyday
    effects:
      - max_usages(1)
      - none cards(2) self | hand
      - none player reachable notself
    mth_effect: doc_holyday(1,2)
  - name: ELENA_FUENTE
    image: 03_elena_fuente
    responses:
      - discard card self | hand not_missedcard
      - missed
    tags:
      - max_hp(3)
  - name: GREG_DIGGER
    image: 03_greg_digger
    equip:
      - greg_digger
  - name: HERB_HUNTER
    image: 03_herb_hunter
    equip:
      - herb_hunter
  - name: JOSE_DELGADO
    image: 03_jose_delgado
    effects:
      - max_usages(2)
      - discard card self | hand blue
      - draw(2)
  - name: MOLLY_STARK
    image: 03_molly_stark
    equip:
      - molly_stark
  - name: PAT_BRENNAN
    image: 03_pat_brennan
    responses:
      - skip_drawing
      - steal card | table
    tags:
      - drawing
  - name: PIXIE_PETE
    image: 03_pixie_pete
    equip:
      - pixie_pete
    tags:
      - max_hp(3)
  - name: SEAN_MALLORY
    image: 03_sean_mallory
    equip:
      - gunbelt(10)
    tags:
      - max_hp(3)
  - name: TEQUILA_JOE
    image: 03_tequila_joe
    equip:
      - tequila_joe
  - name: VERA_CUSTER
    image: 03_vera_custer
    equip:
      - vera_custer
    responses:
      - vera_custer player notself
    tags:
      - max_hp(3)
      - auto_select