character:
  - name: CLAUS_THE_SAINT
    image: 02_clausthesaint
    equip:
      - claus_the_saint
    responses:
      - none card | selection
      - claus_the_saint_response player target_set
    mth_response: gift_card(0,1) (false, true)
    tags:
      - max_hp(3)
      - preselect
  - name: JOHNNY_KISCH
    image: 02_johnnykisch
    equip:
      - johnny_kisch
  - name: UNCLE_WILL
    image: 02_unclewill
    effects:
      - max_usages(1)
      - discard card self | hand
      - generalstore
      - generalstore players
  - name: ANNIE_VERSARY
    image: 02_annieversary
    equip:
      - add_flag(player_flag::treat_any_as_bang)
    effects:
      - banglimit
      - set_playing(play_as::bang) card self | hand not_bangcard
      - play_as_bangcard player reachable notself
    tags:
      - play_as_bang
      - banglimit
      - ranged_effect
  - name: EMILIANO
    image: 02_emiliano
    equip:
      - emiliano

highnoon:
  - name: HANDCUFFS
    image: 05_manette
    expansion: highnoon
    equip:
      - handcuffs
    modifier_response: card_choice
    responses:
      - none
    tags:
      - card_choice(6)
      - preselect
      - skip_logs
  - name: NEW_IDENTITY
    image: 05_nuovaidentita
    expansion: highnoon
    equip:
      - newidentity

hidden:
  - name: HANDCUFFS_HEARTS
    image: highnoon/05_manette
    expansion: highnoon
    responses:
      - card_choice
      - handcuffs(card_suit::hearts)
    tags:
      - card_choice(6)
  - name: HANDCUFFS_DIAMONDS
    image: highnoon/05_manette
    expansion: highnoon
    responses:
      - card_choice
      - handcuffs(card_suit::diamonds)
    tags:
      - card_choice(6)
  - name: HANDCUFFS_CLUBS
    image: highnoon/05_manette
    expansion: highnoon
    responses:
      - card_choice
      - handcuffs(card_suit::clubs)
    tags:
      - card_choice(6)
  - name: HANDCUFFS_SPADES
    image: highnoon/05_manette
    expansion: highnoon
    responses:
      - card_choice
      - handcuffs(card_suit::spades)
    tags:
      - card_choice(6)