main_deck:
  - name: GHOST_2
    signs:
      - 9 spades
      - 10 spades
    image: 07_fantasma
    expansion: ghost_cards
    color: blue
    equip_target: dead
    equip:
      - ghost(player_flag::ghost_1, true)
    tags:
      - ghost_card
  - name: LEMAT_2
    signs:
      - 4 diamonds
    image: 07_lemat
    color: blue
    equip:
      - weapon(1)
    effects:
      - banglimit
      - set_playing(play_as::bang) card self | hand not_bangcard not_missedcard
      - play_as_bangcard player reachable notself
    tags:
      - weapon(1)
      - play_as_bang
      - banglimit
      - skip_logs
      - ranged_effect
  - name: RATTLESNAKE
    signs:
      - 7 hearts
    image: 07_serpenteasonagli
    color: blue
    equip_target: any
    equip:
      - predraw_check(0)
      - snake
    tags:
      - penalty
  - name: SHOTGUN
    signs:
      - K spades
    image: 07_shotgun
    color: blue
    equip:
      - weapon(1)
      - shotgun
    tags:
      - weapon
  - name: BOUNTY
    signs:
      - 9 clubs
    image: 07_taglia
    color: blue
    equip_target: any
    equip:
      - bounty
    tags:
      - penalty
  - name: BANDIDOS_2
    signs:
      - Q diamonds
    image: 07_bandidos
    color: brown
    effects:
      - bandidos2 players notself not_empty_hand
    tags:
      - strong
  - name: ESCAPE_2
    signs:
      - 3 hearts
    image: 07_fuga
    color: brown
    responses:
      - escape2
  - name: AIM
    signs:
      - 6 clubs
    image: 07_mira
    color: brown
    modifier: bangmod
    effects:
      - aim
    tags:
      - bangmod
  - name: POKER
    signs:
      - J hearts
    image: 07_poker
    color: brown
    effects:
      - poker players notself not_empty_hand
      - poker
    tags:
      - strong
  - name: BACKFIRE
    signs:
      - Q clubs
    image: 07_ritornodifiamma
    color: brown
    responses:
      - backfire
    tags:
      - missed
  - name: SAVED_2
    signs:
      - 5 hearts
    image: 07_salvo
    color: brown
    responses:
      - saved2
  - name: FANNING
    signs:
      - 2 spades
    image: 07_sventagliata
    color: brown
    effects:
      - banglimit
      - bang adjacent_players(1) reachable notself
    tags:
      - skip_logs
      - banglimit
      - ranged_effect
  - name: TOMAHAWK
    signs:
      - A diamonds
    image: 07_tomahawk
    color: brown
    effects:
      - bang player notself range_2
    tags:
      - skip_logs
      - ranged_effect
  - name: TORNADO_2
    signs:
      - A clubs
    image: 07_tornado
    color: brown
    effects:
      - tornado2 players not_empty_hand
  - name: LAST_CALL
    signs:
      - 8 diamonds
    image: 07_ultimogiro
    color: brown
    effects:
      - heal

character:
  - name: BLACK_FLOWER
    image: 07_blackflower
    effects:
      - max_usages(1)
      - discard card self | hand clubs
      - bang player reachable notself
    tags:
      - skip_logs
      - ranged_effect
  - name: COLORADO_BILL_2
    image: 07_coloradobill
    equip:
      - colorado_bill2
  - name: DER_SPOT_BURST_RINGER
    image: 07_derspot
    effects:
      - max_usages(1)
      - set_playing(play_as::gatling) card self | hand used_bang
      - play_as_bang players notself
    tags:
      - strong
  - name: EVELYN_SHEBANG_2
    image: 07_evelynshebang
    responses:
      - add_draw_card
      - max_usages(1)
      - bang player notself range_1
  - name: HENRY_BLOCK
    image: 07_henryblock
    equip:
      - henry_block
  - name: LEMONADE_JIM
    image: 07_lemonadejim
    equip:
      - lemonade_jim
    responses:
      - can_play_card
      - discard card self | hand
      - heal_notfull
    tags:
      - preselect
  - name: MICK_DEFENDER_2
    image: 07_mickdefender
    equip:
      - mick_defender2
    responses:
      - escape2
      - discard card self | hand missed
  - name: TUCO_FRANZISKANER
    image: 07_tucofranziskaner
    equip:
      - tuco_franziskaner
    tags:
      - max_hp(5)
      - strong

hidden:
  - name: TORNADO
    responses:
      - none cards(2) self | hand
      - tornado2_response
    tags:
      - preselect
  - name: BANDIDOS
    responses:
      - bandidos2_response
      - discard(true) bang_or_cards(2) self | hand
    tags:
      - preselect

sounds:
  - bandidos
  - snake