character:
  - name: BIG_SPENCER
    image: 06_bigspencer
    equip:
      - big_spencer
    tags:
      - max_hp(9)
      - initial_cards(5)
  - name: FLINT_WESTWOOD
    image: 06_flintwestwood
    effects:
      - max_usages(1)
      - none card self | hand
      - none card notself | hand
    mth_effect: flint_westwood(1,2)
  - name: GARY_LOOTER
    image: 06_garylooter
    equip:
      - gary_looter
    tags:
      - max_hp(5)
  - name: GREYGORY_DECK
    image: 06_greygorydeck
    responses:
      - can_play_card
      - greygory_deck
    equip:
      - greygory_deck
  - name: JOHN_PAIN
    image: 06_johnpain
    equip:
      - john_pain
  - name: LEE_VAN_KLIFF
    image: 06_leevankliff
    modifier: leevankliff
    effects:
      - discard card self | hand bang
      - set_playing
  - name: TEREN_KILL
    image: 06_terenkill
    equip:
      - teren_kill
    tags:
      - max_hp(3)
  - name: YOUL_GRINNER
    image: 06_youlgrinner
    equip:
      - youl_grinner

wildwestshow:
  # - name: GAG
  #   image: 06_bavaglio
  - name: BONE_ORCHARD
    image: 06_camposanto
    equip:
      - bone_orchard
    tags:
      - ghost_card
  - name: DARLING_VALENTINE
    image: 06_darlingvalentine
    equip:
      - darling_valentine
  # - name: DOROTHY_RAGE
  #   image: 06_dorothyrage
  - name: HELENA_ZONTERO
    image: 06_helenazontero
    equip:
      - helena_zontero
  - name: LADY_ROSA_OF_TEXAS
    image: 06_ladyrosadeltexas
    effects:
      - max_usages(1)
      - ladyrosaoftexas
  - name: MISS_SUSANNA
    image: 06_misssusanna
    equip:
      - miss_susanna
  - name: SHOWDOWN
    image: 06_regolamentodiconti
    equip:
      - showdown
    effects:
      - banglimit
      - set_playing card self | hand not_bangcard
      - none player reachable notself
    mth_effect: play_as_bang(1,2)
    responses:
      - set_playing card self | hand bangcard
    mth_response: play_as_missed(0)
    tags:
      - play_as_bang
      - banglimit
  - name: SACAGAWAY
    image: 06_sacagaway
    equip:
      - sacagaway
  - name: WILD_WEST_SHOW
    image: 06_wildwestshow
    equip:
      - wildwestshow
    tags:
      - last_scenario_card